compatible = "zmk,combos";

#define COMBO(LAYERS, KEYS, NAME, BINDINGS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYS>; \
    layers = <LAYERS>; \
  }

//  0  1  2  3  4 |  5  6  7  8  9
// 10 11 12 13 14 | 15 16 17 18 19
// 20 21 22 23 24 | 25 26 27 28 29
//          30 31 | 32 33

COMBO(DEF_L NUM_L,  0 10,	excl,	&kp EXCL);
COMBO(DEF_L NUM_L,  1 11,	at,	&kp AT);
COMBO(DEF_L NUM_L,  2 12,	hash,	&kp HASH);
COMBO(DEF_L NUM_L,  3 13,	dllr,	&kp DLLR);
COMBO(DEF_L NUM_L,  4 14,	prcnt,	&kp PRCNT);
COMBO(DEF_L NUM_L,  5 15,	caret,	&kp CARET);
COMBO(DEF_L NUM_L,  6 16,	amps,	&kp AMPS);
COMBO(DEF_L NUM_L,  7 17,	star,	&kp STAR);
COMBO(DEF_L NUM_L,  8 18,	lpar,	&kp LPAR);
COMBO(DEF_L NUM_L,  9 19,	rpar,	&kp RPAR);

COMBO(DEF_L NUM_L,  0  1,	grave,	&kp GRAVE);
COMBO(DEF_L NUM_L, 10 11,	tab,	&kp TAB);
COMBO(DEF_L NUM_L, 11 12,	lbkt,	&kp LBKT);
COMBO(DEF_L NUM_L, 12 13,	rbkt,	&kp RBKT);
COMBO(DEF_L NUM_L, 10 20,	undo,	&kp LC(Z));
COMBO(DEF_L NUM_L, 11 21,	cut,	&kp LC(X));
COMBO(DEF_L NUM_L, 12 22,	copy,	&kp LC(C));
COMBO(DEF_L NUM_L, 13 23,	paste,	&kp LC(V));
COMBO(DEF_L NUM_L, 14 24,	redo,	&kp LC(Y));

COMBO(DEF_L NUM_L,  7  9,	bslh,	&kp BSLH);
COMBO(DEF_L NUM_L, 16 17,	minus,	&kp MINUS);
COMBO(DEF_L NUM_L, 17 18,	equal,	&kp EQUAL);
COMBO(DEF_L NUM_L, 18 19,	sqt,	&kp SQT);

COMBO(DEF_L,  0 31,	kbd_l,	&mo KBD_L);
COMBO(DEF_L,  9 32,	kbd_r,	&mo KBD_L);
COMBO(DEF_L, 30 33,     caps,	&kp CAPS);

COMBO(NAV_L,  0 10,	sleep,	&kp C_SLEEP);
COMBO(NAV_L,  5 15,	mute,	&kp C_MUTE);
COMBO(NAV_L,  6 16,	vol_dn, &kp C_VOL_DN);
COMBO(NAV_L,  7 17,	vol_up,	&kp C_VOL_UP);
COMBO(NAV_L,  9 19,	lock,	&kp C_AL_LOCK);

#undef COMBO
